
<header>
    <div class="header-container">
        <div class="header-block">    
            <a class="link-index" href="/">
                <div class="logo">
                    <img src="/images/logo-800x300.fw.png" alt="Coffetee">
                </div>
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="/">Infusiones</a></li>
                    <li><a href="/">Café</a></li>
                    <li><a href="/">Insumos</a></li>
                    <li><a href="/product/myProducts">Mis productos</a></li>
                </ul>
            </nav>
            <div class="header-icon">
                <a href="/user/login"><i class="fas fa-user-circle"></i></a>
                <a href="/product/product-cart"><i class="fas fa-shopping-bag"></i></a>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="banner">
            <img src="/images/tea-geefcd29f9_800x350.jpg" alt="Banner">
            <div class="banner-description">
                <p class="price">$ 400</p>
                <h2>Título del producto</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum eos sint repellendus veniam laborum porro doloribus exercitationem quo. Qui molestiae autem voluptates accusamus in laborum</p>
                
            </div>
        </div>
    </div>
</header>