<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-index.css">
</head>
<body>
    <header>
        <div class="header-block">    
            <div class="logo">
                <img src="/images/logo-800x300.fw.png" alt="Coffetee">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/">Infusiones</a></li>
                    <li><a href="/">Café</a></li>
                    <li><a href="/">Insumos</a></li>
                </ul>
            </nav>
            <div class="header-icon">
                <i class="fas fa-user-circle"></i>
                <i class="fas fa-shopping-bag"></i>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section class="banner">
        <img src="/images/tea-geefcd29f9_800x350.jpg" alt="Banner">
        <div class="banner-description">
            <p class="price">$ 400</p>
            <h2>Título del producto</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum eos sint repellendus veniam laborum porro doloribus exercitationem quo. Qui molestiae autem voluptates accusamus in laborum</p>
            
        </div>
    </section>
    <main>
        <section>
            <h2>Productos</h2>
            <div class="products">                
                
                <article class="article-products">
                    <div class="coffee">
                        <a href="/">
                            <img src="/images/coffee-g0459fe78a_500x500.jpg" alt="">
                            <h3>Café</h3>
                        </a>
                    </div>
                </article>

                <article class="article-products">
                    <div class="tea">
                        <img src="/images/herbal-tea-g041759343_500x500.jpg" alt="">
                        <h3>Té</h3>
                    </div>
                </article>

                <article class="article-products">
                    <div class="supplies">
                        <img src="/images/cup-of-tea-g4cf6758b1_500x500.jpg" alt="">
                        <h3>Insumos</h3>
                    </div>
                </article>
                
            </div>
        </section>
        <section>
            <h2>Destacados</h2>
            <div class="products">                
                
                <article class="article-products">
                    <div class="coffee">
                        <a href="/">
                            <img src="/images/coffee-g0459fe78a_500x500.jpg" alt="">
                            <div class="div-price">
                                <p class="price-discount">$ 1700</p>
                                <p class="price">$ 1241</p>                      
                                <p class="discount">27%</p>
                            </div>
                            <h3 class="title-product">Título de producto</h3>
                            <p class="description-product">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum eos sint repellendus veniam laborum porro doloribus exercitationem quo. Qui molestiae autem voluptates accusamus in laborum</p>
                        </a>
                    </div>
                </article>

                <article class="article-products">
                    <div class="tea">
                        <img src="/images/herbal-tea-g041759343_500x500.jpg" alt="">
                        <div class="div-price">
                            <p class="price-discount"></p>
                            <p class="price">$ 1241</p>                      
                            <p class="discount"></p>
                        </div>
                        <h3 class="title-product">Título de producto</h3>
                        <p class="description-product">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum eos sint repellendus veniam laborum porro doloribus exercitationem quo. Qui molestiae autem voluptates accusamus in laborum</p>
                    </div>
                </article>

                <article class="article-products">
                    <div class="supplies">
                        <img src="/images/cup-of-tea-g4cf6758b1_500x500.jpg" alt="">
                        <div class="div-price">
                            <p class="price-discount">$ 1700</p>
                            <p class="price">$ 1241</p>                      
                            <p class="discount">27%</p>
                        </div>
                        <h3 class="title-product">Título de producto</h3>
                        <p class="description-product">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum eos sint repellendus veniam laborum porro doloribus exercitationem quo. Qui molestiae autem voluptates accusamus in laborum</p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h1>¿Quienes somos?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At unde velit minus quas incidunt nihil, a non voluptate. Corrupti eaque iste amet, fugit dignissimos vitae quaerat nisi dolorem minima culpa quasi totam porro aspernatur neque asperiores mollitia. Praesentium, maiores beatae!</p>
        </section>
    </main>
    <footer>
        <article class="footer-article">
            <img class="logo" src="/images/logo-800x300.fw.png" alt="Coffetee">
        </article>
        <article class="footer-article">
            <h4>TÉRMINOS Y CONDICIONES</h4>
            <nav>
                <ul>
                    <li><a href="/">Términos y condiciones</a></li>
                    <li><a href="/">Entrega del producto</a></li>
                    <li><a href="/">Preguntas frecuentes</a></li>
                </ul>
            </nav>
        </article>
        <article class="footer-contact">
            <h4>CONTÁCTANOS</h4>
            <a href=""><i class="fas fa-phone-square-alt"></i>+57 4 3004948484</a>
            <a href=""><i class="far fa-clock"></i>Lunes a viernes 07:00 18:00</a>
            <a href=""><i class="fas fa-envelope"></i>Email</a>
        </article>
        <article class="social">
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-twitter-square"></i></a>
            <a href=""><i class="fab fa-instagram-square"></i></a>
        </article>
    </footer>
</body>
</html>