<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-login.css">
    <title>Ingresa tu cuenta</title>
</head>

<body>

    <header>
        <div class="header-block">
            <a class="link-index" href="/">
                <div class="logo">
                    <img src="/images/logo-800x300.fw.png" alt="Coffetee">
                </div>
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="/">Infusiones</a></li>
                    <li><a href="/">Café</a></li>
                    <li><a href="/">Insumos</a></li>
                </ul>
            </nav>
            <div class="header-icon">
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <a href="/product-cart"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <section>
    <div class="loginForm">
        <div class="boton-register">
            <a href="/login-2"><button class="boton-login">Iniciar sesion</button></a>
            <a href="/login"><button class="register">Registrar</button></a>
        </div>
        <form class="register-box">
            <label>Ingresa tu nombre</label>
            <input type="text" class="inpt-compl" name="nombre" placeholder="Ejemplo: Joaquin" minlength="3">

            <label>Ingresa tu apellido</label>
            <input type="text" class="inpt-compl" name="apellido" placeholder="Ejemplo: Cernik" minlength="2">

            <label>Fecha de nacimiento</label>
            <input type="date" name="fecha">

            <label>Domicilio:</label>
            <input type="text" class="inpt-compl" name="domicilio" placeholder="Ejemplo: San Martin 432">

            <label>Ingrese su contraseña</label>
            <input type="password" class="inpt-compl" name="password">

            <label>Confirmar contraseña</label>
            <input type="password" name="password" class="inpt-compl">

            <button type="submit">Enviar</button>
        </form>
    </div>
</section>


</body>

</html>