<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-login.css">
    <title>Ingresa tu cuenta</title>
</head>
<body>
    
    <header>
        <div class="header-block">    
            <a class="link-index" href="/">
                <div class="logo">
                    <img src="/images/logo-800x300.fw.png" alt="Coffetee">
                </div>
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="/">Infusiones</a></li>
                    <li><a href="/">Café</a></li>
                    <li><a href="/">Insumos</a></li>
                </ul>
            </nav>
            <div class="header-icon">
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <i class="fas fa-shopping-bag"></i>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <form class="loginForm">
        <label for="">Usuario:</label>
        <input type="text" name="user">

        <label for="">Contraseña:</label>
        <input type="password" name="password">

        <button type="submit">Ingresar</button>
    </form>

</body>
</html>