<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-index.css">
    <link rel="stylesheet" href="/css/styles-navbar.css">
    <link rel="stylesheet" href="/css/styles-productDetails.css">


    <title>Usuario: Juan</title>
</head>

<body>

    <!-- INCLUDE HEADER -->
    <%- include('./partials/header') %>

        <div
            style="margin: auto;/* height: 400px; */padding: 95px 0px 0px 0px;/* position: relative; */text-align: center;">
            <h1>404 Not Found</h1>
            <img src="/images/404.06a37534.png" alt="">
        </div>

        <!-- INCLUDE FOOTER -->
        <%- include('./partials/footer') %>
</body>

</html>