<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-productDetails.css">    
    <title>Productos</title>
</head>

<body>

    <header>
        <div class="header-block">    
            <a class="link-index" href="/">
                <div class="logo">
                    <img src="/images/logo-800x300.fw.png" alt="Coffetee">
                </div>
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="/">Infusiones</a></li>
                    <li><a href="/">Café</a></li>
                    <li><a href="/">Insumos</a></li>
                </ul>
            </nav>
            <div class="header-icon">
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <a href="/product-cart"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>
        
    </header>

    <main>
        <section class="foto-article">
            <img src="./images/coffee-g0459fe78a_500x500.jpg" alt="Café Colombia Molido">
        </section>
        <section>
            <article class="article-products">    
                <h1 class="titulo">Título del Producto</h1>
                <div class="div-price">
                    <p class="price">$ Precio del Producto</p>
                    <p class="price-discount">$ Precio con Oferta</p>                      
                    <p class="discount">% Descuento</p>
                </div>
                <p class="p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vel repellat tempora iure inventore? Quo cumque quae nesciunt placeat velit repudiandae perspiciatis repellat similique itaque. Porro unde impedit alias suscipit?</p>
                <div class="carrito">
                    <a href="./productCart.html"><i class="fas fa-cart-plus"></i></a>
                </div>
            </article>
        </section> 
    </main>

    <footer>
        <div><img class="logo" src="/images/logo-800x300.fw.png" alt="Coffetee"> </div>             
        <section>
            <h4 class="h4">TÉRMINOS Y CONDICIONES</h4>
            <ul>
                <li>Términos y condiciones</li>
                <li>Entrega del producto</li>
                <li>Preguntas frecuentes</li>
            </ul>
        </section>
        <section>
            <h4 class="h4">CONTÁCTANOS</h4>
            <ul>
                <li><i class="fas fa-phone-square-alt"></i>+57 3004948485</li>
                <li><i class="far fa-clock"></i>Lunes a viernes de 08:00 a 17:00 hs</li>
                <li><i class="fas fa-envelope"></i>soporte@infusiones.com</li>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
            </ul>         
        </section>

        </div>

     </footer>   

</body>

</html>