<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles-productDetails.css">    
    <title>Productos</title>
</head>

<body>

    <header>
        <div class="header-block">    
            <a class="link-index" href="/">
                <div class="logo">
                    <img src="/images/logo-800x300.fw.png" alt="Coffetee">
                </div>
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="/">Infusiones</a></li>
                    <li><a href="/">Café</a></li>
                    <li><a href="/">Insumos</a></li>
                </ul>
            </nav>
            <div class="header-icon">
                <a href="/login"><i class="fas fa-user-circle"></i></a>
                <a href="/product-cart"><i class="fas fa-shopping-bag"></i></a>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>
        <section>
            <article class="article-products">    
                <img class="foto-article" src="./images/coffee-g0459fe78a_500x500.jpg" alt="Café Colombia Molido">
                
                <div class="div-price">
                    <h1 class="titulo">Título del Producto</h1>
                    <p class="price">$ Precio del Producto</p>
                    <p class="price-discount">$ Precio con Oferta</p>                      
                    <p class="discount">% Descuento</p>
                    <p class="p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vel repellat tempora iure inventore? Quo cumque quae nesciunt placeat velit repudiandae perspiciatis repellat similique itaque. Porro unde impedit alias suscipit?</p>
                </div>
                
                <div class="carrito">
                    <a href="./product-cart"><i class="fas fa-cart-plus"></i></a>
                </div>
            </article>
        </section> 
    </main>

    <footer>
        <section class="section-block">
            <article class="footer-logo">
                <img class="logo" src="/images/logo-800x300.fw.png" alt="Coffetee">
            </article>
            <article class="footer-article">
                <h4>TÉRMINOS Y CONDICIONES</h4>
                <nav>
                    <ul>
                        <li><a href="/">Términos y condiciones</a></li>
                        <li><a href="/">Entrega del producto</a></li>
                        <li><a href="/">Preguntas frecuentes</a></li>
                    </ul>
                </nav>
            </article>
            <article class="footer-contact">
                <h4>CONTÁCTANOS</h4>
                <a href=""><i class="fas fa-phone-square-alt"></i>+57 4 3004948484</a>
                <a href=""><i class="far fa-clock"></i>Lunes a viernes 07:00 18:00</a>
                <a href=""><i class="fas fa-envelope"></i>Email</a>
            </article>
            <article class="social">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
            </article>
        </section>
    </footer>

</body>

</html>