main {
    padding: 50px 0;
    max-width:none;
    background-image: url("/images/tee_background.jpg");
    background-color: #fff;
}
h1 {
    font-weight: 700;

}

form {

    background-color: white;
    padding: 30px 70px 100px 70px;
    box-shadow: 0 0 6px 0 rgb(157 144 144 / 80%);
    border-radius: 10px;
}
.form{
    width: 55%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 20px;
}
input{
    background:none;
    color: black;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid;
    border-top: none;
}
input:focus{
    outline: none;
}
label {
    color:#c6c6c6;
    position: absolute;
    bottom: 0px;
    left: 5px;
    top :10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    border-color: none;
}
.button-login {
    font-family:'roboto';
    
    color: #000;
    border: none;
    display: block;
    width: 100%;
    margin: 10px 0;
    background-color: none;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all 1s;
    

}
.button-login:hover{
    background-color:#1E90FF;
    
}