
.slideshow-container {
    display: none;
}

main section article a{
    color: #333;
}

/* INICIO DEL FLEXBOX */

section { 
    display: flex;
    align-items: center;
}

.foto-article { 
    width: 40%;
    padding: 10px;
}

main section .div-price{
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.article-products{
    
    margin: 9px;
    align-items: center;
    flex-grow: 1;
}

main .carrito{
    color: white;
    margin: 10px;
    font-size: 30px  ;
}



.titulo{
    font-size: 40px;
    color: #A66D3C;
    text-align: left;
}

main section .price {
    color: #999;
    text-align: left;
    font-size: 25px;
    text-decoration: line-through;
}

main section .price-discount{
    display: flex;
    color: #999;
    font-size: 15px;
    text-decoration: line-through;
}

main section .discount{
    width: 30%;
    display: flex;
    color: #5A7356;
    font-weight: bold;
}

.product-details{
    background-color: white;
    border-radius: 10px;
    margin: 3px 0px 9px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


/* FIN DEL FLEXBOX */


