*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
    background-color: #9aa681;
    width: 100%;
    margin: 0;
}

header .header-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    align-self: stretch;
    width: 50%;
    
}

header img{
    width: 100%;
}

header .menu{
    display: none;

}

header nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #273940;
    align-content: center;
    border-radius: 6px;
}
  
header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #111;
}

header div.header-icon i {
    font-size: 2rem;
}

header .burger-menu {
    text-align: center;
    background-color: #273940;
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    margin-bottom: 3px;
    position: relative;
    top:-20px;
}

i{
    color: white;
    margin: 5px;
}

/* LOGIN*/

.loginForm{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.loginForm input, label{
    padding: 10px;
}

.loginForm input{
    height: 5px;
    border-radius: 8px;
    border: 1px solid black;
    width: 15%;
}

.loginForm button{
    padding: 8px;
    margin-top:10px;
    border-radius: 8px;
    background-color: #273940;
    color: white;
}
.botonIngreso{
    transition: all 0.5s;
}
.botonIngreso:hover{
    background-color:#111
}

/* responsive devices*/

/* MOBILE */
@media (max-width: 426px){
    
    header div.header-icon i {
        font-size: 3rem;
    }

    .loginForm input{
    width: 50%;    
    }
    
}

/* TABLET */
@media (min-width: 768px) {
    header .header-block{
        margin: 10px;
    }
    
    div.logo{
        align-content: center;
        width: 30%;
    }
    
    header .menu{
        display: flex;
    }

    header .burger-menu{
        display: none;
    }

     
}

/* PC */

@media (min-width: 1200px) {
    div.logo{
        align-content: center;
        width: 25%;
    }

    header .header-block {
        max-width: 1200px;
        padding: 10px;
        margin:auto
    }

    .banner {
        max-width: 1200px;
        margin: auto;

    }
    
}