main {
    padding: 50px 0;
    background: #649173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
h1 {
    font-weight: 700;

}

form {

    background-color: white;
    padding: 30px 70px 100px 70px;
    box-shadow: 0 0  6px 0 rgb(255, 255,255, 0.8);
    border-radius: 10px;
}
.formLogin {
    width: 80%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 20px;
}
input{
    background:none;
    color: black;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid;
    border-top: none;
}
input:focus{
    outline: none;
}
label {
    color:#c6c6c6;
    position: absolute;
    bottom: 0px;
    left: 5px;
    top :10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    border-color: none;
}
button {
    font-family:'roboto';
    background-color: none;
    border: none;
    display: block;
    width: 100%;
    margin: 10px 0;
    
    height: 50px;
    font-size: 20px;
    cursor: pointer;

}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 15px;
    color: black;
}