.slideshow-container {
    display: none;
}

main {
    padding: 90px 0px 30px 0px;
    max-width:none;
    background-image: url("/images/tee_background.jpg");
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;                
}

h1 {
    
    font-weight:700;
}
form {
    background-color: white;
    padding: 40px 70px;
    box-shadow: 0 0 6px 0 rgb(157 144 144 / 80%);
    border-radius: 10px;
    width: 90%;

}
.form {
    width: 100%;
    margin: auto;
}
form .grupo{
    position: relative;
    margin: 20px;
}
input {
     background: none;
     color: black;
     padding: 10px 10px 10px 5px  ;
     display: block;
     width: 100%;
     border: none;
     border-bottom: 1px solid;
     border-top: none;
 }
 input:focus{
    outline: none;
 }
 label {
    color:#c6c6c6;
    position: absolute;
    bottom: 0px;
    left: 5px;
    top :10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    border-color: none;
}
input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 15px;
    color: black;
}
.register-button {
    font-family:'roboto';
    color: #333;
    border: none;
    display: block;
    width: 100%;
    margin: 10px 0;
    background-color: none;
    border: 1px solid gainsboro;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all 1s;

}
.register-button:hover{
    background-color:#55B28C;
    
}

.barra{
    color: crimson;
}

/* Drag and drop pr select image */

.file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}
  
.file-upload-content {
display: none;
text-align: center;
}

.file-upload-input {
position: absolute;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
outline: none;
opacity: 0;
cursor: pointer;
}

.image-upload-wrap {
margin-top: 20px;
border: 4px dashed #8a8d8b;
position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
background-color: #8a8d8b;
border: 4px dashed #ffffff;
}

.image-title-wrap {
padding: 0 15px 15px 15px;
color: #222;
}

.drag-text {
text-align: center;
}

.drag-text h3 {
font-weight: 100;
text-transform: uppercase;
color: #15824B;
padding: 20px 0;
}

.file-upload-image {
max-height: 200px;
max-width: 200px;
margin: auto;
padding: 20px;
}
  

@media (min-width: 768px) {
    form {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    form {
        width: 45%;
    }
}