.slideshow-container {
    display: none;
}

main {
    padding: 50px 0;
    max-width:none;
    background-image: url("/images/tee_background.jpg");
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;                    
}



h1 {
    
    font-weight:700;
}
form {
    background-color: white;
    padding: 40px 70px;
    box-shadow: 0 0 6px 0 rgb(157 144 144 / 80%);
    border-radius: 10px;
    width: 90%;

}
.form {
    width: 100%;
    margin: auto;
}
form .grupo{
    position: relative;
    margin: 20px;
}
input {
     background: none;
     color: black;
     padding: 10px 10px 10px 5px  ;
     display: block;
     width: 100%;
     border: none;
     border-bottom: 1px solid;
     border-top: none;
 }
 input:focus{
    outline: none;
 }
 label {
    color:#c6c6c6;
    position: absolute;
    bottom: 0px;
    left: 5px;
    top :10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    border-color: none;
}
input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 15px;
    color: black;
}
.register-button {
    font-family:'roboto';
    color: #333;
    border: none;
    display: block;
    width: 100%;
    margin: 10px 0;
    background-color: none;
    border: 1px solid gainsboro;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all 1s;

}
.register-button:hover{
    background-color:#55B28C;
    
}

@media (min-width: 768px) {
    form {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    form {
        width: 45%;
    }
}