<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles-header.css">
  <link rel="stylesheet" href="/css/styles-index.css" />
  <link rel="stylesheet" href="/css/styles-navbar.css">
  <link rel="stylesheet" href="/css/styles-myProducts.css" />
  <title>Mis productos</title>
</head>

<body>
  <!-- INCLUDE HEADER -->
  <%- include('../partials/header') %>

    <main>

      <div class="productsBox">

        <form class="myProducts" method="post" action="/product/create" enctype="multipart/form-data">
          <h1>Mis productos</h1>
          <div class="grupo">
            <span class="barra">
              <ul class="ul-errors">

              </ul>
            </span>
          </div>
          <label>Nombre de mi producto:</label>
          <input type="text" name="name" id="name" class="myProducts"
            placeholder="Café Colina Grano 454g Juan Valdez" />
          <br />

          <label>Descripcion:</label>
          <input type="text" name="description" id="description" class="myProducts"
            placeholder="Cafe descafeinado con un gusto especial a vainilla" />
          <br />

          <label>Pone la imagen de tu producto aqui</label>
          <input class="fyle" type="file" accept=".jpg, .png, .jpeg, .svg" name="image" id="image" class="myProducts" />
          <br />

          <label>Categoria:</label>

          <div class="radio">
            <input type="radio" id="cafe" value="3" name="category" class="myProducts" />
            <label for="cafe">Cafe</label>
            <input type="radio" id="te" value="2" name="category" class="myProducts" />
            <label for="te">Te</label>
            <input type="radio" id="insumos" value="1" name="category" class="myProducts" />
            <label for="insumos">Insumos</label>
            <br />
          </div>

          <label>Precio:</label>
          <input class="price" type="text" name="price" placeholder="$200" />
          <br />

          <label>Descuento:</label>
          <input class="discount" type="text" name="discount" placeholder="20%" />
          <br />

          <label>Tipo de producto</label>
          <div class="radio">
            <input type="radio" id="banner" value="2" name="type" class="myProducts" />
            <label for="banner">Banner</label>
            <input type="radio" id="mas-vendido" value="3" name="type" class="myProducts" />
            <label for="mas-vendido">Más vendido</label>
            <input type="radio" id="nuevo" value="1" name="type" class="myProducts" />
            <label for="nuevo">Nuevo</label>
          </div>
          <button type="submit">Subir producto</button>
          <br />

        </form>
      </div>
    </main>
    <script src="/js/validationProduct.js"></script>
    <!-- INCLUDE FOOTER -->
    <%- include('../partials/footer') %>
</body>

</html>